{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block stylesheets %}
    <style>
        .centered-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .centered-container {
            padding: 50px;
            background-color: #f8f8f8;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 80%;
            max-width: 1000px;
            box-sizing: border-box;
        }

        .table {
            margin-top: 20px;
            text-align: center;
        }

        .btn {
            margin-right: 5px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="centered-content">
        <div class="centered-container">
            <h2 class="text-info">Table des commandes</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Date_commande</th>
                        <th>Montant_total</th>
                        <th>Produit</th>
                        <th>client</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.id }}</td>
                        <td>{{ commande.dateCommande ? commande.dateCommande|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ commande.montantTotal }}</td>
                        <td>
                         {% for produit in commande.produit %}
                                {{ produit.nom }}
                            {% endfor %}
                        </td>
                          <td>{{ commande.client }}</td>
                        <td>
                            <a href="{{ path('app_commande_show', {'id': commande.id}) }}" class="btn btn-primary"><i class="fas fa-eye"></i> show</a> <br>
                            
                            <a href="{{ path('app_commande_edit', {'id': commande.id}) }}" class="btn btn-secondary"><i class="fas fa-edit"></i> edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('app_commande_new') }}" class="btn btn-success"><i class="fas fa-plus"></i> Create new</a>
        </div>
    </div>
{% endblock %}
