{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('./css/bootstrap.min.css') }}">
    <style>
        .centered-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .centered-container {
            padding: 50px;
            background-color: #f8f8f8;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 80%;
            max-width: 1000px;
            box-sizing: border-box;
        }

        .text-info {
            text-align: center;
        }

        .table {
            margin-bottom: 20px;
        }

        .btn-container {
            text-align: center;
        }

        .btn-back {
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="centered-content">
    
        <div class="centered-container">
            <h2 class="text-info">Categorie</h2>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ categorie.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ categorie.nom }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ categorie.description }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="btn-container">
                <a class="btn btn-primary btn-back" href="{{ path('app_categorie_index') }}"><i class="fas fa-arrow-left"></i>Back to list</a>

                <a class="btn btn-warning" href="{{ path('app_categorie_edit', {'id': categorie.id}) }}"><i class="fas fa-edit"></i>Edit</a>
            </div>

            {{ include('categorie/_delete_form.html.twig') }}
        </div>
      
    
    </div>
{% endblock %}
