{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('./css/bootstrap.min.css') }}">
{% endblock %}
{% block body %}
    <h2 class="text-info">Categorie</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorie.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ categorie.description }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_categorie_index') }}">back to list</a>

    <a class="btn btn-warning" href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">edit</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
